<nav class="top-nav teal">
  <div class="nav-wrapper">
    <div class="container">
      <a class="page-title font-title" href="{{site.baseurl}}/">{{ site.title }}</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="{{ site.baseurl }}/tags">Thẻ</a></li>
        <li><a href="{{ site.baseurl }}/categories">Danh mục</a></li>
        <li><a href="{{ site.baseurl }}/about">Về tôi</a></li>
        <li><a href="{{ site.baseurl }}/contact">Liên hệ</a></li>
      </ul>
    </div>
  </div>
</nav>